@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;

}


body {
	margin: 0px;
	padding: 0px;
	background-color: #F2F1ED;
}

#header_full {
	height: 115px;
	width: 100%;
	background-color: #f2f1ed;
}
#header_960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 115px;
}
#Container_Principale_full {
	background-color: #FFFFFF;
	width: 100%;
	float: left;
}

#Container_Principale_960 {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#footer_full {
	background-color: #F2F1ED;
	width: 100%;
	float: left;
}

#footer_960 {
	width: 630px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	color: #575757;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-top: 20px;
	padding-right: 315px;
	padding-bottom: 20px;
	padding-left: 15px;
}
#logo {
	float: left;
	height: 115px;
	width: 160px;
}
#header_titre {
	width: 363px;
	padding-top: 60px;
	float: left;
	padding-left: 35px;
	height: 55px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: bold;
	color: #e03b28;
	text-transform: uppercase;
}
#header_menu {
	width: 387px;
	padding-top: 70px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #5a5a5a;
	font-size: 9pt;
	height: 45px;
	padding-right: 15px;
	text-align: right;
}
#header_menu a {
	color: #595858;
	text-decoration: none;
	margin-right: 15px;
}

#header_menu form {
	display: inline;

}
#Breadcrumb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	color: #595858;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
#Breadcrumb a {
	color: #595858;
	text-decoration: none;
}
#Page_haut h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22pt;
	font-weight: bold;
	color: #595858;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e4e4e4;
	margin-right: 15px;
	margin-left: 15px;
	display: block;
}
#Page_haut {
	width: 960px;
}
#Collone1 {
	width: 692px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	background-color: #FFFFFF;
}
#Collone2 {
	width: 220px;
	padding-right: 15px;
	float: left;
	background-color: #FFFFFF;
}
#Collone2 .Boite {
	background-color: #e5e3dd;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #575757;
}

#Collone2  h2 {
	color: #FFFFFF;
	background-color: #535353;
	background-image: url(images/back_boite.jpg);
	padding: 15px;
	text-transform: uppercase;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#Panier  h2 {
	color: #FFFFFF;
	background-color: #535353;
	background-image: url(images/boite_h_Panier.jpg);
	padding: 15px;
	text-transform: uppercase;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

 .Boite .commande {
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(images/bouton_commande.jpg);
	height: 36px;
	width: 185px;
	display: block;
	background-repeat: no-repeat;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 10px;
    border: 0px;
}
#Panier li {
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d2d1ce;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #575757;
	text-transform: uppercase;
}
#Collone1 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #595858;
	margin-bottom: 15px;
}
#Collone1 .accueil {
	margin-bottom: 15px;
}
#form_login input {
	width: 185px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#form_login #Soumettre {
	background-image: url(images/bouton_soumettre.jpg);
	width: 139px;
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 28px;
}

#Magasin .bouton {
	margin-left: 50px;
}
#Collone1  .Categorie_dc {
	float: left;
	width: 220px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #ebe9e3;
}

.Categorie_l {
	float: left;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #ebe9e3;
}
#Collone1 .Categorie_g {
	float: left;
	width: 220px;
	background-color: #EBE9E3;
}
.soutitre, .Categorie_dc .soutitre, .Categorie_g .soutitre  {
	width: 190px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #595858;
	font-size: 14px;
	text-transform: uppercase;
}
.soutitre a {
	color: #585858;
	text-decoration: none;
	display: block;
}
#Collone1 .Produit_liste_item {
	background-color: #f2f1ed;
	height: 69px;
	width: 692px;
	margin-bottom: 10px;
}
#Collone1 .Produit_liste_item .thumb {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 70px;
}
#Collone1 .Produit_liste_item .desc {
	margin: 0px;
	float: left;
	width: 453px;
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
#Collone1 .Produit_liste_item .desc p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

#Collone1  .Produit_liste_item  .desc  h3 {
	color: #e23a2d;
	font-weight: bold;
	font-size: 9pt;
}

#Collone1 .Produit_liste_item .desc a {
	text-decoration: none;
	color: #0077c3;
	font-weight: bold;
}

#Collone1 .Produit_liste_item .ajouter {
	margin: 0px;
	float: left;
	width: 109px;
	padding-top: 28px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: #e6e5e1;
	height: 42px;
	font-weight: bold;
}
#Collone1 .Produit_liste_item .ajouter a {
	text-decoration: none;
	color: #000000;
}


#Collone1 .Produit_liste_item .ajouter p {
	float: left;
	margin-top: 3px;
	margin-right: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
#Collone1 .Produit_liste_item .ajouter input {
	width: 30px;
	float: left;
	padding-right: 3px;
	padding-left: 3px;
}

#Collone1 .Produit_liste_item .quantite {
	margin: 0px;
	float: left;
	width: 119px;
	padding-top: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-color: #e6e5e1;
	height: 42px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
}

#Collone1 .Produit_liste_item .quantite label {
	float: left;
	padding-right: 5px;
}

#Collone1 .Produit_liste_item .quantite img {
	padding-right: 3px;
	float: left;
	margin-top: 2px;
}
#Collone1 #Produit_photo {
	float: left;
	width: 166px;
	margin-right: 15px;
}
#Collone1 #Produit_texte {
	float: left;
	width: 511px;
}
#Collone1 #Produit_texte p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 15px;
	color: #575757;
}
#Collone1 #Produit_texte h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: #e23a2d;
}
#Collone1 #Produit_bouton {
	background-color: #e6e5e1;
	background-image: url(images/bouton_ajouter.gif);
	background-repeat: no-repeat;
	height: 25px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
	display: block;
	width: 100px;
	float: left;
}
#Collone1 #bouton_fin {
	background-image: url(images/bouton_ajouter_d.gif);
	float: left;
	height: 35px;
	width: 6px;
}

.simple_overlay {
	/* must be initially hidden */
	display:none;
	/* place overlay on top of other elements */
	z-index:10000;
	/* styling */
	background-color:#333;
	width:400px;
	min-height:200px;
	border:1px solid #666;
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/*admin*/

.float_left {
	float: left;
}
.float_right {
	float: right;
}
.table_commande {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}
.table_commande td {
	text-align: center; font-size: 12px;
	padding: 2px;
}
.table_commande .order_cancelled {
	color: red;
}
.table_commande .order_approuved {
	color: green;
}
.table_commande tr.outline {
	background-color:#f2f1ed;
}

.table_commande a {
	text-decoration: none;
	color: #0077c3;
}
div.admin_pagination {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0 0 20px 0;
	font-size: 11px;
	line-height: 11px;
}
div.admin_pagination a{
	text-decoration: none;
	color: #0077c3;
	padding: 5px;
	margin: 5px;
}
div.admin_pagination a:hover{
	text-decoration: underline;
}
div.admin_pagination a.off{
	color: #000;
	cursor: text;
}
div.admin_pagination a.off:hover, div.admin_pagination a.on{
	text-decoration: none;
}
div.admin_pagination a.on{
	color: #e23a2d;
	font-weight: bold;
}

div.admin_filter {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}
div.colomn_half {
	width: 460px;
}
td.text_left, th.text_left {
	text-align: left;
}
